<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--verbose="4"-->
<suite name="Opencart App Test Regression Suite"  thread-count="5" parallel="tests">

<listeners>
	<listener class-name ="com.aventstack.chaintest.plugins.ChainTestListener"/>
	<listener class-name = "com.qa.opencart.listeners.TestAllureListener"/>
	<listener class-name = "com.qa.opencart.listeners.AnnotationTransformer"/>
</listeners>

	<test name="Login Page Test">
		<parameter name = "browser" value="chrome" />

		<classes>
			<class name="com.qa.opencart.tests.LoginPageTest"/>
		</classes>
	</test>


	<test name="Accounts Page Test">
		<parameter name = "browser" value="chrome" />

		<classes>
			<class name="com.qa.opencart.tests.AccountsPageTest" />
		</classes>
	</test>


	<test name="Saerch Results Page Test">
		<parameter name = "browser" value="chrome" />
	
		<classes>
			<class name="com.qa.opencart.tests.SearchResultsPageTest" />
		</classes>
	</test>



	<test name="Product Info Page Test">
		<parameter name = "browser" value="chrome" />

		<classes>
			<class name="com.qa.opencart.tests.ProductInfoPageTest" />
		</classes>
	</test>



	<test name="Registration Page Test">
		<parameter name = "browser" value="chrome" />

		<classes>
			<class name="com.qa.opencart.tests.RegistrationPageTest" />
		</classes>
	</test>
 


</suite>





